<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 14px;
        color: #333;
    }

    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        line-height: 24px;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-collapse: collapse;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .total-price {
        text-align: right;
        font-size: 16px;
        font-weight: bold;
    }

    .logo {
        max-width: 150px;
        height: auto;
    }
</style>

<div class="invoice-box">
    <table>
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            {% if user.logo_url %}
                            <img src="{{ user.logo_url }}" class="logo">
                            {% else %}
                            <h1>{{ user.shop_name }}</h1>
                            {% endif %}
                        </td>
                        <td>
                            Invoice #: {{ sale.id }}<br>
                            Created: {{ sale.sale_date.strftime('%Y-%m-%d') }}<br>
                            Total: {{ sale.total_price | round(2) }} MMK
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            {{ user.shop_name }}<br>
                            Contact Info...<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="heading">
            <td>Item</td>
            <td>Price</td>
            <td>Qty</td>
        </tr>
        {% for item in sale_items %}
        <tr class="item">
            <td>{{ item.name }}</td>
            <td>{{ item.price | round(2) }} MMK</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
        <tr class="total-price">
            <td colspan="2">Total: {{ sale.total_price | round(2) }} MMK</td>
        </tr>
    </table>
</div>