{% extends "layout.html" %}
{% block content %}
<h2 class="text-mint-green">Sales Report</h2>
<hr>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Sale ID</th>
                <th scope="col">Total Price</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
                <th scope="col">Invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.total_price | round(2) }} MMK</td>
                <td>{{ sale.sale_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>
                    <a href="#" class="text-decoration-none">View Items</a>
                </td>
                <td>
                    <a href="{{ url_for('generate_invoice', sale_id=sale.id) }}"
                        class="btn btn-sm btn-baby-blue">Download Invoice</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}